.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.Header {
  height: 10%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.searchBar {
  height: 10%;
}

.nasaImage {
  border: black;
  width: 100%;
  height: 100%;
}

.imageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  height: 30%;
}

.imageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  height: 80%;
  padding: 0%;
  margin: 0%;
}

.pageChooser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10%;
}
