.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.Header {
  height: 10%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.searchBar {
  height: 10%;
}

.nasaImage {
  border: black;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.imageCard {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  margin: 1.5%;
  height: 30%;
}

.imageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  height: 80%;
  padding: 2.5%;
  margin: 0%;
}

.pageChooser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10%;
}
